/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.playing-mat {
    background-color: #132e0c;
    border-radius: 0;
}

.mat-container {
    width: 90vw;
    margin-left: 5vw;
}

.players {
    border: 1px white solid;
    border-radius: 5px;
}

.player {
    width: 40vw;
    padding: 0;
    margin: 0;
    float: left;
}

img.goStopCard {
    width: 5vw;
}
